html, body, ul, li, p, h1, div {
	padding: 0;
	margin: 0;
}

body {
	background-color: #e5d5e2;
	min-width: 300px;
}

a,
a:visited,
a:hover,
a.active, a.active:hover,
a:link {
	color: #000000;
	text-decoration: none;
	border-bottom: #000000 solid 1px;
	display: inline-block;
	height: 14px;
}

ul, li {
	list-style: none;
	text-decoration: none;
}

#wrapper {
	padding-top: calc(50vh - 55px);
}

#pie {
	position: fixed;
  left: calc(25vw);
  top: calc(50vh - 25vw);
	width: 50vw;
	height: 50vw;

  -webkit-filter: grayscale(1) contrast(.8);
  filter: grayscale(1) contrast(.8);
  opacity: .50;
  object-fit: fill;
}

#title {
	position: -webkit-sticky;
	position: sticky;

	font-family: 'Codystar', cursive;
	color: #FFFFFF;
	text-align: center;

	top: 45px;
	width: 100vw;
	font-size: 90px;
}

#card {
	background-color: #FFFFFF;

	position: relative;
	width: 400px;

	left: calc(50% - 200px);

	margin-top: calc(50vh - 100px);
	margin-bottom: calc(50vh - 100px);
	padding: 20px;
	padding-bottom: 50px;

	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
}
