html, body, p, h1, div {
	padding: 0;
	margin: 0;
}

body {
	background-color: #e5d5e2;
}

a,
a:visited,
a:hover,
a.active, a.active:hover,
a:link {
	color: #000000;
	text-decoration: none;
	border-bottom: #000000 solid 1px;
	display: inline-block;
	height: 14px;
}

ul {
	list-style: none;
	text-decoration: none;
	padding: 0px;
	padding-top: 10px;
	margin: 0px;
}

#wrapper {
	padding-top: calc(50vh - 5vw);
}

#pie {
	position: fixed;
  left: calc(25vw);
  top: calc(50vh - 25vw);
	width: 50vw;
	height: 50vw;

	z-index: 10;

  -webkit-filter: grayscale(1) contrast(.8);
  filter: grayscale(1) contrast(.8);
  opacity: .50;

  object-fit: fill;
}

#title {
	position: -webkit-sticky;
	position: sticky;

	font-family: 'Codystar', cursive;
	font-size: 10vw;
	color: #FFFFFF;
	text-align: center;

	top: 5vh;
	width: 100vw;

	z-index: 100;
}

#card {
	background-color: #FFFFFF;

	position: relative;
	width: calc(30vw);
	min-width: 300px;

	z-index: 100;

	margin-top: calc(50vh - 100px);
	margin-bottom: calc(50vh - 100px);
	margin-left: auto;
	margin-right: auto;

	padding: 20px;
	padding-bottom: 50px;

	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
}
