html, body, h1 {
	padding: 0;
	margin: 0;
}

body {
	position: relative;

	max-width: 1500px;
	min-width: 400px;

	background-color: #e5d5e2;
}

a,
a:visited,
a:hover,
a.active, a.active:hover,
a:link {
	color: #000000;
	text-decoration: none;
	border-bottom: #000000 solid 1px;
	display: inline-block;
	height: 14px;
}

ul {
	list-style: none;
	text-decoration: none;
	padding-left: 0;
}

#wrapper {
	padding-top: calc(50vh - 4vmin);
}

#pie {
	position: fixed;

	left: calc(50% - 25vmin);
	top: calc(50vh - 25vmin);
	width: 50vmin;
	height: 50vmin;

	z-index: 10;

  -webkit-filter: grayscale(1) contrast(.8);
  filter: grayscale(1) contrast(.8);
  opacity: .50;

	object-fit: fill;
}

#title {
	position: -webkit-sticky;
	position: sticky;

	font-family: 'Codystar', cursive;
	font-size: 8vmin;
	color: #FFFFFF;
	text-align: center;

	top: 30px;
	width: 100%;

	z-index: 100;
}

#card {
	background-color: #FFFFFF;

	position: relative;

	width: 30%;
	min-width: 300px;
	max-width: 400px;

	z-index: 100;

	margin-top: calc(50vh - 100px);
	margin-bottom: calc(40vh - 125px);
	margin-left: auto;
	margin-right: auto;

	font-family: 'Roboto Mono', monospace;
	font-size: 10px;
}

#card p {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
}

#card p:first-child {
	padding-top: 20px;
}

#card ul {
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 40px;
}

/* max width for viewport calcs */
@media only screen and (min-width: 1500px) {
	body {
		background-position: calc(750px - 25vmin) calc(50vh - 25vmin);
	}

	#pie {
		left: calc(750px - 25vmin);
	}
}
